<h4>Value Color Mappings</h4>

<div class="editor-row">
    <div ng-repeat="mapping in ctrl.panel.valueMappings">
        <div class="section gf-form-group">
            <h5 class="section-heading">Values</h5>
            <div class="gf-form-inline">
                <div class="gf-form">
                    <label class="gf-form-label width-10">Name</label>
                    <input type="text" class="input-small gf-form-input width-8" placeholder="Name"
                        ng-model="mapping.name" ng-change="ctrl.render()" ng-model-onblur />
                </div>
            </div>
            <div class="gf-form-inline">
                <div class="gf-form">
                    <label class="gf-form-label width-10">Operator</label>
                    <select class="gf-form-input width-8" ng-blur="ctrl.render()"
                        ng-model="mapping.mappingOperatorName">
                        <option ng-repeat="mappingOperator in ctrl.getMappingOperators()"
                            value="{{mappingOperator.name}}">
                            {{mappingOperator.operator}}</option>
                    </select>
                </div>
            </div>
            <div class="gf-form-inline">
                <div class="gf-form">
                    <label class="gf-form-label width-10">Compare To</label>
                    <input type="text" ng-model="mapping.compareTo" placeholder="Value to compare to"
                        class="gf-form-input width-8" ng-blur="ctrl.render()">
                </div>
            </div>
        </div>

        <div class="section gf-form-group">
            <h5 class="section-heading">Appearance</h5>

            <div class="gf-form-inline">
                <div class="gf-form">
                    <label class="gf-form-label width-10">Font Color</label>
                    <span class="gf-form-label width-3">
                        <spectrum-picker ng-model="mapping.fontColor" ng-change="ctrl.render()"></spectrum-picker>
                    </span>
                </div>
            </div>

            <div class="gf-form-inline">
                <div class="gf-form">
                    <label class="gf-form-label width-10">Background Color</label>
                    <span class="gf-form-label width-3">
                        <spectrum-picker ng-model="mapping.bgColor" ng-change="ctrl.render()"></spectrum-picker>
                    </span>
                </div>
            </div>

            <div class="gf-form-inline">
                <div class="gf-form">
                    <label class="gf-form-label width-10">Font Bold</label>
                    <span class="gf-form-label width-3">
                        <input type="checkbox" ng-model="mapping.isSensorFontBold" ng-change="ctrl.render()">
                    </span>
                </div>
            </div>

            <div class="gf-form-inline">
                <div class="gf-form">
                    <label class="gf-form-label width-10">Name Blink</label>
                    <span class="gf-form-label width-3">
                        <input type="checkbox" ng-model="mapping.nameBlink" ng-change="ctrl.render()">
                    </span>
                </div>
            </div>

            <div class="gf-form-inline">
                <div class="gf-form">
                    <label class="gf-form-label width-10">Value Blink</label>
                    <span class="gf-form-label width-3">
                        <input type="checkbox" ng-model="mapping.valueBlink" ng-change="ctrl.render()">
                    </span>
                </div>
            </div>

            <div class="gf-form-inline">
                <div class="gf-form">
                    <label class="gf-form-label width-10">Background Blink</label>
                    <span class="gf-form-label width-3">
                        <input type="checkbox" ng-model="mapping.bgBlink" ng-change="ctrl.render()">
                    </span>
                </div>
            </div>
        </div>

        <div class="gf-form-inline">
            <div class="gf-form">
                <div class="gf-form-button">
                    <button class="btn btn-inverse width-14" ng-click="ctrl.removeValueMappingMap($index)">
                        <i class="fa fa-remove"></i> Delete Value Mapping
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="editor-row">
        <div class="gf-form-inline">
                <div class="gf-form">
                    <div class="gf-form-button">
                        <button class="btn btn-inverse width-14" ng-click="ctrl.addValueMappingMap();">
                            <i class="fa fa-plus"></i> Add a value mapping
                        </button>
                    </div>
                </div>
        </div>
</div>