<div ng-style="{height:ctrl.panel.height,width:'100%','background-repeat':'no-repeat', 'background-size': 'contain'}">
    <div style="position: relative;" id="draggableparent">
        <img id="pictureit-image" ng-src="{{ctrl.panel.bgimage}}?{{ctrl.panel.uncache}}" style="width:100%" />
        <div ng-repeat="sensor in ctrl.panel.sensors">
            <div ng-if="sensor.visible">
                <div id="{{sensor.metric}}" style="text-align: center;" ng-style="{'position': 'absolute',left:sensor.xlocation + '%', 'top':sensor.ylocation + '%', 'font-size':sensor.sizeStr,'font-color':sensor.fontColor}">
                    <div ng-style="{ 'border-radius': sensor.borderRadius, position: 'relative', top: 0, left: 0,'background-color': sensor.bgColor,'border-style':'solid','border-color':sensor.bgColor,'border-width':'1px',padding:'5px'}">
                        <!-- handle --><div><br/></div>
                        <a href="{{sensor.resolvedLink}}" ng-style="{color:sensor.fontColor}" bs-tooltip="sensor.link_hover">
                            <div ng-bind-html="ctrl.replaceTokens(sensor.displayName)" />
                            <div ng-if="sensor.renderValue">
                                {{sensor.valueFormatted}} {{sensor.valueUnit}}
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
